<!-- <div data-aos="fade-up" data-aos-duration="3000"> -->
  <div class="card bg-dark text-light zoom" data-aos="fade-down-right">
    <a (click)="onSelectId(productobj.id)">
      <img class="card-img-top prodimg" src={{productobj.productImage}} alt="Card image cap">
    </a>
      <div class="card-body">
        <h5 class="card-title">{{productobj.productTitle}}</h5>
        <p class="card-text">{{productobj.description}}</p>
        <button class="btn btn-warning upan" style="text-align: center;" (click)="sendProductToParent(productobj.productTitle);checkLoginStatus();onAdd();"> Add To Cart</button>
  
          <button type="button" class="btn btn-md btn-warning extra" (click)="removeFromCart();">
            <img src="../../assets/cartMinus.png" width="30px" height="25px"> <span class="badge badge-light">{{count}}</span>
          </button>
      </div>
  </div>
<!-- </div> -->


