<div class="card zoom" style="width: 18rem;height:450px;">
    <img class="card-img-top"  style="height: 200px;" src={{productobj.productImage}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{productobj.productTitle}}</h5>
      <p class="card-text">{{productobj.description}}</p>
      <button class="btn btn-warning" style="text-align: center;" (click)="sendProductToParent(productobj.productTitle)"> <i class="fa-solid fa-circle-plus"></i> Add To Cart</button>
    </div>
</div>
