<table class="center text-dark text-center">
    <tr>
        <th colspan="2"><h4>Mobile specifications</h4></th>
    </tr>
    <tr>
        <th><h5>Mobile Model</h5></th>
        <td><h5>{{postObj.productTitle}}</h5></td>
    </tr>
    <tr>
        <th><h5>Mobile Description</h5></th>
        <td><h5>{{postObj.description}}</h5></td>
    </tr>
    <tr>
        <th><h5>Mobile Image</h5></th>
        <td><img [src]=postObj.productImage alt=""></td>    
    </tr>
</table>
<!-- 
<div class="text-center text-dark">
    <h3>{{postObj.productTitle}}</h3><hr>
    <h3>{{postObj.description}}</h3><hr>
    <img [src]=postObj.productImage style="width: 300px;height:300px" alt="">
</div> -->
