@media only screen and (max-width:600px){
    img{
        width:150px;
        height:150px;
    }
}
@media screen and (min-width:321px) and (max-width:768px)
{
    img{
        width:150px;
        height:150px;
    }
}
@media screen and (min-width:1000px){
    img{
        width:350px;
        height:450px;
    }
}
table,tr,td{
    margin-top: 70px;
    /* margin-bottom: 50px; */
    border: 3px solid black;
}
table{
    margin-bottom: 200px;
    background-color:white;
    width:100%;
}
h2{
    margin-top:100px;
    margin-bottom: 5px;
}
th{
    font-weight: 900;
    color: crimson;
}
th,td{
    font-family: "Audiowide", sans-serif;
}
table,tr,td{
    padding:5px;
    /* border-radius: 10px; */
}